body, html {
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
	overflow: hidden;
}

body {
	color: white;
	font-family: 'Roboto', sans-serif;
}

a {
	text-decoration: none;
	color: #EAEAEA;
}

a:hover {
	color: white;
}

#profile {
	display: inline-block;	
	background-color: #FFF3;
	padding: 10px;
	border-radius: 10px;
	height: 64px;
	position: relative;
	margin: 20px;
}

#profile-container {
	display: flex;
}

#profile-pic {
	display: inline-block;
	height: 64px;
	width:  64px;
	border-radius: 32px;
	margin: auto;
}

#username {
	display: block;

	font-size: 20px;
}

#profile-text {
	display: inline-block;
	padding-left: 20px;
	padding-right: 20px;
	margin: auto;
}

#profile-dropdown {
	font-size: 20px;
	margin-left: 10px;
	cursor: pointer;
}

.main-button {
	background-color: #FFF3;
	display: inline-block;
	font-size: 16px;
	padding: 20px;
	border-radius: 10px;
	margin: 15px;
	cursor: pointer;
}

#page-container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	height: 100%;
}

#row-1, #row-2 {
	display: flex;
	flex-direction: row;
	justify-content: center;
}

#signin {
	display: inline-block;
	width: 64%;
}

#signin-container {
	background-color: #FFF3;
	padding: 10px;
	border-radius: 10px;

	display: inline-flex;
	flex-direction: column;
	justify-content: center;
}

.header {
	display: inline-block;
	margin: auto;
	margin-bottom: 15px;
	margin-top: 10px;

	font-size: 26px;
}

.body {
	display: inline-block;
	margin: auto;
	margin-bottom: 40px;
	width: 93.75%;
	text-align: center;
}

#google-signin {
	margin: auto;
	margin-bottom: 10px;
}

#down {
	position: absolute;
	bottom: 8px;
	transform: translateY(-50%);
	left: 50%;
	transform: translateX(-50%);
	font-size: 36px;
	cursor: pointer;
	color: #DDD;
}

#down:hover {
	color: white;
}

#page-1 {
	position: relative;
	height: 100%;
	width: 100%;

	background: #E6DADA;  /* fallback for old browsers */
	background: -webkit-linear-gradient(to top, #274046, #E6DADA);  /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to top, #274046, #E6DADA); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
#page-2 {
	position: relative;
	height: 100%;
	width: 100%;

	background: #232526;  /* fallback for old browsers */
	background: -webkit-linear-gradient(to top, #414345, #232526);  /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to top, #414345, #232526); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

#test-container,#resume-container {
	display: flex;
	justify-content: center;
	flex-direction: column;
}

#reaction-time {
	display: inline-block;
	background-color: #FFF3;
	padding: 10px;
	border-radius: 10px;
	margin: auto;
}

#short-memory,#resume-memory {
	display: inline-block;
	background-color: #FFF3;
	padding: 10px;
	border-radius: 10px;
	margin: auto;
}

#long-memory {
	display: inline-block;
	background-color: #FFF3;
	padding: 10px;
	border-radius: 10px;
	width: 50%;
	margin: auto;
}

#continue-button {
	width: 50%;
	padding: 10px;
	border-radius: 10px;
	height: 30px;
	margin: auto;
	margin-top: 20px;
	background-color: #FFF3;
	display: flex;
	cursor: pointer;
}
#continue-button:hover {
	background-color: #FFFA;
}

#continue-button i {
	margin: auto;
	text-align: center;
	font-size: 32px;
}

input {
	outline: none;
	resize: none;
	width: 20em;
	height: 1.5em;
	font-size: 24px;
	background-color: #FFF3;
	padding: 10px;
	border-radius: 0.75em;
	color: white;
	border-top-style: hidden;
    border-right-style: hidden;
    border-left-style: hidden;
    border-bottom-style: hidden;
    margin:  10px;
}

.description {
	font-size: 24px;
	padding-left: 10px;
}

#digits-display, #time-display {
	padding-left: 32px;
}

#reaction-button {
	cursor: pointer;
	background-color: #FFF3;
	border-radius: 10px;
	width: 50%;
	height: 3em;
	margin: auto;
	margin-top: 10px;
	margin-bottom: 10px;
}

#reaction-button:hover {
	background-color: #FFF;
}

#submit-numbers,#submit-words {
	cursor: pointer;
	background-color: #FFF3;
	border-radius: 10px;
	margin: 10px;
	padding: 10px;
}

#word-display {
	display: flex;
	width: 100%;
	flex-direction: column;
}

.word-row {
	display: flex;
	flex-direction: row;
	margin-top: 20px;
	margin-bottom: 20px;
}

.word {
	width: 20%;
	text-align: center;
}
